button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
    transition: 0.4s ease;
    background-color: dodgerblue;
    color: white;
    font-size: medium;
    font-family: 'KBPlayDate';
    
}
button:hover {
    transform: scale(1.05);
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}
body {
    font-family: 'KBPlayDate';
    margin: 0px;
    height: 100%;
}
.dropDownMenu {
    position: absolute;
    z-index: 3;
    background-color: dodgerblue;
    width: 200px;
    padding: 10px;
    border-radius: 0 0 10px 0;
    color: white;
    box-shadow: 5px 5px 15px gray;
}
.mainInnerDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.innerDrop {
    border: 1px solid white;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
    transition: 0.4s ease;
}
.innerDrop:hover {
    transform: scale(1.05);
    color: dodgerblue;
    background-color: white;
}
.innerDropClose {
    transition: 0.4s ease;
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 20px;
    padding: 7px;
}
.innerDropClose:hover {
    transform: scale(1.05);
    color: dodgerblue;
    background-color: white;
}
.mainHeader {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px;
    height: 9vh;
    width: 100vw;
    background-color: dodgerblue;
    color: white;
    box-shadow: 1px 1px 15px 1px gray;

}
.mainHeader h1 {
    position: relative;
    top: 5px;
    font-size: 3.5vh;
    cursor: pointer;
    transition: 0.4s ease;
}
.mainHeader h3 {
    position: relative;
    bottom: 5px;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.4s ease;
}
.mainHeader h1:hover {
    color: lightgray;
    transform: scale(1.05);
}

.mainMenu {
    margin-left: 10px;
    margin-right: 10px;
    width: 7vh;
    height: 7vh;   
}
.mainMenu img {
    width: 7vh;
    height: 7vh;
    transition: 0.4s ease;
    cursor: pointer;
}
.mainMenu img:hover {
    transform: scale(1.05);
}
.stopMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    text-align: center;
}   
.MainFeedGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.MainFeedPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: #1e90ff;
}
.mainFeedInnerTop{
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.welcomeMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-top: 20vh;
    text-align: center;
}
.adminTools{
    margin-top: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adminTools button {
    height: 40px;
    width: 150px;
}
.adminToolsPopup{
    background-color: lightgray;
    height: 400px;
    overflow-y: auto;
    width: 100%;
    position: relative;
    bottom: 50px;
}
.innerAdminToolsMembers{
    margin: 5px;
    padding: 5px;
    gap: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.innerAdminToolsMembers button{
    width: 60px;
    font-size: small;
}
.innerAdminToolsImage{
    border: 1px solid red;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerAdminToolsName{
    width: 150px;
}
.unbanButtonAdmin{
    background-color: green;
}
.banButtonAdmin{
    background-color: red;
}
.adminToolsText{
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminToolsText input{
    width: 150px;
    padding: 5px;
    font-size: large;
    border: none;
}
.adminToolsText button{
    font-size: small;
    width: 45px;
    text-align: center;
    padding: 0;
    height: 30px;
}
.closeAdmin{
    position: absolute;
    right: 10px;
    top: 0vh;
}
.adminToolsSearchBtn{
    border-radius:0 10px 10px 0;
}
.adminToolsResetBtn{
    border-radius: 10px 0 0 10px;

}